.content {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
}

.input {
  width: 240px;
  justify-self: center;
  height: 30px;
  border: solid rgb(59, 132, 108);
  border-radius: 30px;
  padding-left: 10px;
}
.generate {
  margin: 10px;
  width: 100px;
  justify-self: center;
  border-radius: 20px;
  background-color: rgb(59, 132, 108);
  border: none;
  color: white;
}
.weather-report {
  justify-self: center;
  margin: 5px;
  width: 300px;
  background-color: rgb(192, 227, 215);
  padding: 10px;
  border-radius: 15px;
}

.input:focus {
  border: solid rgb(38, 86, 70);
}
